<% form_tag password_resets_path do %>
	<fieldset>
		<legend>Forgot your password?</legend>
		<p>
			Enter your e-mail address and instructions to reset your password will be emailed to you.
		</p>
		<ol>
			<li>
				<%= label_tag :email %>
				<%= text_field_tag :email %>
			</li>
			<li class="submit">
				<%=link_to "&laquo; Sign In", login_path %> or
				<%= submit_tag "Reset my password &raquo;", :class => "submit" %>
			</li>
		</ol>
	</fieldset>
<% end %>