[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/newrelic_rpm"]
	path = vendor/plugins/newrelic_rpm
	url = git://github.com/smtlaissezfaire/newrelic_rpm.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/google_ajax_api"]
	path = vendor/plugins/google_ajax_api
	url = git://github.com/rpheath/google_ajax_libraries_api.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
