<h1>Activate your account</h1>

<% form_for :user, :url => activate_path(params[:activation_code]), :html => { :method => :post } do |form| %>
	<%= form.error_messages %>
	<%= render :partial => "form", :locals => { :form => form }%>
	<%= form.submit "Activate" %>
<% end %>