defaults: &defaults
  admin_email: matthooks@gmail.com
  site_name: Eden

development:
  <<: *defaults
  site_host: localhost:3000

test:
  <<: *defaults
  site_host: localhost:3000

production:
  <<: *defaults
  site_host: application.com